body {
    font-family:  -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 0;
    color:#3e434b;
}

a {
    text-decoration: none;
}


.link-nav:visited, .link-nav {
    color:#3e434b;
}

html {
    scroll-behavior: smooth;
}


nav {
    box-shadow: 0 0 29px 0 rgba(134, 134, 134, 0.25);
    padding: 25px 0;
    background-color: white;
}
.barra {
    display: flex;
    justify-content: flex-end;
    padding-right: 300px;
    align-items: center;
}

li {
    list-style-type: none;

}
.li-nav {
    margin-left: 20px;
    
}

.boton {
    background-color: #CBC0D3;
    padding: 10px 20px;
    border-radius: 100px;
    color: white;
}

.link-boton:visited, .link-boton {
    color:white;
}


.section {
    padding: 110px 40px 130px;
    display: flex;
    justify-content: center;
    text-align: center;
    
}
.contenedor1 {
    display:flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
}

.infopersonal {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    text-align: left;
    justify-content: center;
    margin: 50px;
}

h2{
    font-size: 45px;
    font-weight: 900;
    margin-bottom: 0.375em;
}

.saludo {
    font-size: 30px;
    margin-top: 0;
    margin-bottom: 5px;
    font-weight: 800;
}

h1 {
    font-size: 60px;
    font-weight: 900;
}

h3 {
    font-size: 20px;
    font-weight: 300;
}


.nombre {
    margin-top: 0;
    margin-bottom: 5px;
    color: #CBC0D3;
}

.fotoperfil {
    width: 600px;
    margin: 50px;
}

.descripcion {
    color: #8E9AAF;
    font-weight: 200;
    margin-bottom: 20px;
}

.contenedor-skills {
    background-color: #FEEAFA;
}

.columna {
    width: 100%;
    max-width: 1100px;
}

.contenido {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.descripcion-skills {
    max-width: 400px;
    font-weight: 200;
}

.grilla-skills {
    display: flex;
    flex-wrap: wrap;
    margin-top: 40px;
    justify-content: center;
}

.skill {
    background-color: #fff;
    border: 1px solid #dddfe5;
    border-radius: 8px;
    width: 230px;
    height: 230px;
    margin: 10px;
    padding: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.icon {
    font-size: 120px;
}

.skill-title {
    margin-top: 20px;
    font-size: 25px;
    font-weight: 700;
}

.quote-section {
    background-color: #CBC0D3;
}

.quote-icon {
    font-size: 5rem;
    margin-bottom: 20px;
    color:white;
}

.quote {
    font-size: 1.2rem;
    max-width: 800px;
    color: white;
}

.author-quote {
    color:white;
}

.barra-pequeña {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.li-filtros {
    margin: 30px;
}

.contenedor-proyectos {
    display: flex;
    flex-wrap: wrap;
    margin-top: 40px;
    justify-content: center;
}

.proyecto {
    background-color: #fff;
    border: 1px solid #dddfe5;
    border-radius: 8px;
    width: 280px;
    height: 280px;
    margin: 10px;
    padding: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.img-portfolio {
    width: 300px;
    height: 205px;
}

.imagen-proyecto {
    height: 205px;
}

.imagen-pelicula {
    width: 330px;
}

.sub-proy {
    font-weight: 600;
    margin-top: 20px;
}

footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 80px 20px 60px;
    background-color: #CBC0D3;
    text-align: center;
}

.contendor-footer {
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;

}

.li-footer {
    margin: 10px;
    color: white;
}

.redes-sociales {
    display: flex;
    justify-content: center;
}

.iconos-redes {
    width: 50px;
    height: 50px;
    margin: 10px;
}

.cierre-footer {
    color:white;
}

ul {
    padding: 0px;
}

.link-footer:visited, .link-footer {
    color:white;
}

button {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 20px;
    cursor: pointer;
    border: 0;
    background-color: transparent;
}