body {
    font-family:  -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 0;
    color:#3e434b;
}

a {
    text-decoration: none;
}

html {
    scroll-behavior: smooth;
}

.columna {
    width: 100%;
    max-width: 1100px;
}


li {
    list-style-type: none;

}
/*  ACA TERMINAN LOS COMANDOS GENERALES Y EMPIEZA LA BARRA DE NAVEGACION*/

nav {
    box-shadow: 0 0 29px 0 rgba(134, 134, 134, 0.25);
    padding: 8px 0;
    background-color: white;
    display: flex;
    justify-content: center;
}

.barra {
    display: flex;
    justify-content: flex-end;
    padding-right: 40px;
    align-items: center;
    width: 1500px;
    max-width: 1500px;
}

.menu-desplegados {
    margin: 20px 80px;
    color: white;
}

.contenedor-desplegable {
    position: relative;
    overflow: hidden;
}


#desplegable {
    background-color:#CBC0D3;
    width: 100vw;;
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 0;
    transform: translateY(-172px);
    transition: 1s;
}

.mostrar-menu {
    transform: translateY(0);
}

.cambio-desplegable {
    background-color:#CBC0D3;
}

.menus, .menus:visited {
    color: white;
}

#desplegable ul {
    margin: 0;
}

.li-nav {
    margin-left: 20px;
}

.link-nav:visited, .link-nav {
    color:#3e434b;
}

.boton {
    background-color: #CBC0D3;
    padding: 10px 20px;
    border-radius: 100px;
    color:white;
}

.hamburguesa {
    display: none;
}

.link-boton:visited, .link-boton, .author-quote {
    color:white;
}

/*   ARRANCA EL HEADER CON LA PRESENTACION PERSONAL */

header {
    height: 100vh;
    box-sizing: border-box;
}

.section {
    padding: 110px 40px 130px;
    display: flex;
    justify-content: center;
}

.contenedor1 {
    display:flex;
    align-items: center;
    width: 1400px;
    
}

.infopersonal {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    width: 50%;
}

h2{
    font-size: 45px;
    font-weight: 900;
    margin-bottom: 0.375em;
}

.saludo {
    font-size: 30px;
    margin-top: 0;
    margin-bottom: 5px;
    font-weight: 800;
}

h1 {
    font-size: 60px;
    font-weight: 900;
}

h3 {
    font-size: 20px;
    font-weight: 300;
}


.nombre {
    margin-top: 0;
    margin-bottom: 5px;
    color: #CBC0D3;
}

.descripcion {
    color: #8E9AAF;
    font-weight: 200;
    margin-bottom: 20px;
}

.contenedor-imagen {
    width: 50%;
   
}

.fotoperfil {
    width: 100%;
}

/* EMPIEZA LA SECCION DE LAS SKILLS  */ 

.contenedor-skills {
    background-color: #FEEAFA;
}

.contenido {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.descripcion-skills {
    max-width: 400px;
    font-weight: 200;
}

.grilla-skills {
    display: flex;
    flex-wrap: wrap;
    margin-top: 40px;
    justify-content: center;
}

/*ESTAS SON LAS CAJAS QUE CONTIENEN LAS SKILLS*/

.skill {
    background-color: #fff;
    border: 1px solid #dddfe5;
    border-radius: 8px;
    width: 230px;
    height: 230px;
    margin: 10px;
    padding: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.icon {
    font-size: 120px;
}

.skill-title {
    margin-top: 20px;
    margin-bottom: 0;
    font-size: 25px;
    font-weight: 700;
}

/* EMPIEZA LA SECCION DE LA QUOTE MOTIVADORA */

.quote-section {
    background-color: #CBC0D3;
}

.quote-icon {
    font-size: 5rem;
    margin-bottom: 20px;
    color:white;
}

.quote {
    font-size: 1.2rem;
    max-width: 800px;
    color: white;
}

/* EMPIEZA LA SECCION DE MIS FUTUROS PROYECTOS EN ADA */

/* ESTE SERIA EL PEQUEÑO MENU DE FILTROS*/
.barra-pequeña {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.li-filtros {
    margin: 30px;
}

button {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 20px;
    cursor: pointer;
    border: 0;
    background-color: transparent;
}

/*ACA TERMINA EL MENU DE FILTROS*/


.contenedor-proyectos {
    display: flex;
    flex-wrap: wrap;
    margin-top: 40px;
    justify-content: center;
}

/*ESTAS SON LAS CARACTERISTICAS DE CADA PEQUEÑA CAJITA CON LAS IMAGENES*/

.proyecto {
    background-color: #fff;
    border: 1px solid #dddfe5;
    border-radius: 8px;
    width: 280px;
    height: 250px;
    margin: 10px;
    padding: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.imagen-proyecto {
    width: 100%;
}
.contenedor-img-proyecto {
    height: 200px;
}
.sub-proy {
    font-weight: 600;
    margin-top: 20px;
    margin-bottom: 0;
}

/*EMPIEZA EL FOOTER*/

footer {
    padding: 80px 20px 60px;
    background-color: #CBC0D3;
    text-align: center;
}

.li-footer {
    margin: 10px;
    color: white;
}


.redes-sociales {
    display: flex;
    justify-content: center;
}

.iconos-redes {
    width: 50px;
    height: 50px;
    margin: 10px;
}

ul {
    padding: 0px;
}

.link-footer:visited, .link-footer, .cierre-footer {
    color:white;
}


@media (max-width:1000px) {

    
    .li-nav {
        display: none;
    }

    .hamburguesa {
        display: block;
        font-size: 20px;
    }

    .contenedor1 {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .infopersonal{
        text-align: center;
        align-items: center;
        width: auto;
    }

    .contenedor-imagen {
        width: 550px;
    }

    .skill {
        width: 200px;
        height: 200px;
        padding: 5px;
    }

    .icon {
        font-size: 80px;
    }

    .skill-title {
        font-size: 20px;
    }

    .proyecto {
        width: 200px;
        height: 170px;
    }

    .contenedor-img-proyecto {
        height: 130px;
    }

    .li-filtros {
        margin: 10px;
    }

    button {
        font-size: 15px;
    }

}

@media (max-width:600px) {

    .saludo {
        font-size: 20px;
    }

    h1 {
        font-size: 40px;
    }

    .descripcion, h3, .descripcion-skills, .skill-title, .quote {
        font-size: 15px;
    }

    .contenedor-imagen {
        width: auto;
        margin-top: 70px;
    }

    h2 {
        font-size: 30px;
    }

    .skill {
        width: 150px;
        height: 150px;
        padding: 5px;
    }

    .icon, .quote-icon {
        font-size: 50px;
    }

    .li-filtros {
        margin: 2px;
    }

    button {
        font-size: 12px;
    }

    .proyecto {
        width: 260px;
        height: 230px;
    }

    .contenedor-img-proyecto {
        height: 180px;
    }

    .li-footer {
        display: none;
    }

    .iconos-redes {
        width: 30px;
        height: 30px;
    }

    .cierre-footer {
        font-size: 10px;
    }

}

@media (max-width:444px) {

    .skill {
        width: 120px;
        height: 120px;
        padding: 5px;
    }

    .icon {
        font-size: 45px;
    }
    
}

/*FIN =) */